@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product/index.js" asp-append-version="true"></script>
    <script>
        var product = new productController();
        product.initialize();
    </script>
}

<div class="page-title">
    <div class="title_left">
        <h3>Tables <small>List Product</small></h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 form-group pull-right   ">
            <div class="input-group">
                <input type="text" class="form-control" id="txtSearch" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Search!</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 form-group pull-right">
            <select class="form-control" id="ddlCategories">
                <option>--Select category--</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-12  form-group pull-right">
            <button id="btnCreate" class="btn btn-success">Create</button>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="row" style="display: block;">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title" width="10%"># </th>
                                <th class="column-title">Name </th>
                                <th class="column-title">Category </th>
                                <th class="column-title">Price </th>
                                <th class="column-title">Image </th>
                                <th class="column-title">Created Date </th>
                                <th class="column-title last">Status </th>
                            </tr>
                        </thead>
                        <tbody id="tbl-Content">
                        </tbody>
                    </table>
                    <!--Pagination-->
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Partial/_AddEditModal.cshtml")

<script id="table-template" type="x-tmpl-mustache">
    <tr class="even pointer">
        <td class="a-center ">
            <input type="checkbox" class="flat" name="table_records">
        </td>
        <td>
            <button class="btn btn-default btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </td>
        <td>{{Name}}</td>
        <td>{{CategoryName}} </td>
        <td>{{Price}}</td>
        <td>{{{Image}}}</td>
        <td>{{{DateCreated}}}</td>
        <td>{{{Status}}}</td>
    </tr>
</script>
